.abp-main-wrapper{
width:100%;
font-family:Arial, Helvetica, sans-serif;
animation: fadeSlide 2s ease;
}

@keyframes fadeSlide {
from{
opacity:0;
transform: translateY(30px);
}

to{
opacity:1;
transform: translateY(0);
}
}
/* banner */

.abp-banner-section{
width:100%;
height:220px;
background-image:url("https://images.unsplash.com/photo-1503376780353-7e6692767b70");
background-size:cover;
background-position:center;
display:flex;
align-items:center;
justify-content:center;
position:relative;
}

.abp-banner-overlay{
background:rgba(0,0,0,0.55);
width:100%;
height:100%;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
color:white;
}

.abp-banner-overlay h1{
font-size:42px;
margin-bottom:5px;
}

.abp-banner-overlay p{
font-size:16px;
color:#ddd;
}

/* content */

.abp-content-section{
background:#f2f2f2;
padding:60px 0;
text-align:center;
}

.abp-content-section h2{
font-size:36px;
color:#111;
}


.footer {
  display: flex;
  justify-content: space-between;
  background: #1f1f1f;
  color: white;
  padding: 50px 80px;
}

/* LEFT */
.footer-left h4 {
  margin-bottom: 15px;
}

.footer-left p {
  margin: 8px 0;
  cursor: pointer;
  color: #ccc;
}

.footer-left p:hover {
  color: white;
}

/* RIGHT */
.footer-right h4 {
  margin-bottom: 15px;
}

.email-input {
  width: 250px;
  padding: 10px;
  margin-bottom: 10px;
  background: transparent;
  border: 1px solid #555;
  color: white;
}

.subscribe-btn {
  width: 250px;
  padding: 10px;
  background: #7c6cf6;
  color: white;
  border: none;
  cursor: pointer;
}

.subscribe-btn:hover {
  background: #5a4be0;
}

.note {
  margin-top: 10px;
  font-size: 12px;
  color: #aaa;
  width: 260px;
}




.booking-container {
  width: 80%;
  margin: auto;
  font-family: Arial, sans-serif;
}

.title {
  margin-bottom: 20px;
  font-weight: bold;
  margin-top: 80px;
}

.booking-card {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.car-image {
  width: 100px;
  height: 70px;
  object-fit: cover;
  margin-right: 20px;
}

.booking-details {
  flex: 1;
}

.booking-details h3 {
  margin: 0;
  font-size: 18px;
}

.booking-details p {
  margin: 5px 0;
  color: #555;
}

.booking-right {
  text-align: right;
}

.status-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 10px;
}

.status-btn:hover {
  background-color: #45a049;
}

.message {
  font-size: 14px;
  color: #555;
}